In [13]:
%matplotlib inline
import pandas as pd
import numpy as np
import math as math
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns

In [24]:
corrup = pd.read_excel('corruption_perception.xlsx')

In [25]:
corrup.tail(5)

           geo  2012  2013  2014  2015  2016  2017
172  Venezuela    19    20    19    17    17    18
173    Vietnam    31    31    31    31    33    35
174      Yemen    23    18    19    18    14    16
175     Zambia    37    38    38    38    38    37
176   Zimbabwe    20    21    21    21    22    22

In [26]:
corrup = corrup.loc[:, ['geo', 2015]]
corrup = corrup.rename(columns = {'geo': "Países", 2015:'Corrupção 2015'})

corrup_nam=corrup.dropna()

corrup_idx=corrup_nam.set_index("Países")
corrup_idx

                                Corrupção 2015
Países
Afghanistan                                 11
Albania                                     36
Algeria                                     36
Angola                                      15
Argentina                                   32
Armenia                                     35
Australia                                   79
Austria                                     76
Azerbaijan                                  29
Bahamas                                      0
Bahrain                                     51
Bangladesh                                  25
Barbados                                     0
Belarus                                     32
Belgium                                     77
Benin                                       37
Bhutan                                      65
Bolivia                                     34
Bosnia and Herzegovina                      38
Botswana                                    63
Brazil                                      38
Brunei                                       0
Bulgaria                                    41
Burkina Faso                                38
Burundi                                     21
Cambodia                                    21
Cameroon                                    27
Canada                                      83
Cape Verde                                  55
Central African Republic                    24
...                                        ...
St. Lucia                                    0
St. Vincent and the Grenadines               0
Sudan                                       12
Suriname                                    36
Swaziland                                    0
Sweden                                      89
Switzerland                                 86
Syria                                       18
Tajikistan                                  26
Tanzania                                    30
Thailand                                    38
Timor-Leste                                 28
Togo                                        32
Trinidad and Tobago                         39
Tunisia                                     38
Turkey                                      42
Turkmenistan                                18
Uganda                                      25
Ukraine                                     27
United Arab Emirates                        70
United Kingdom                              81
United States                               76
Uruguay                                     74
Uzbekistan                                  19
Vanuatu                                      0
Venezuela                                   17
Vietnam                                     31
Yemen                                       18
Zambia                                      38
Zimbabwe                                    21

[177 rows x 1 columns]

In [27]:
corrup_idx.to_excel('corrup_limpo.xlsx')